# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv

# Django specific
*.sqlite3
media/
staticfiles/
*.log

# Environment variables
.env
*.env

# IDE files
.vscode/
.idea/
*.iml

# Compiled files
*.so
*.dll
*.dylib

# macOS & Windows
.DS_Store
Thumbs.db

# Pip dependencies
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Gunicorn
gunicorn.log
gunicorn.error.log

# Docker
docker-compose.override.yml

# Updates
updates/