{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Serge Thomas | Backend Developer</title>
    <meta name="description" content="Blog posts on backend development and programming.">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
</head>
<body>
    <section class="section">
        <div class="container" style="max-width: 768px">
            <div class="level" style="margin: 0">
                <div class="level-left">
                    <div class="level-item">
                        <link rel="icon" type="image/x-icon" href="{% static 'me/static/favicon.ico' %}">
                        <nav class="breadcrumb has-bullet-separator" style="margin: 0; display: inline-block" aria-label="breadcrumbs">
                            <ul>
                                <li class="is-active"><a href="#" aria-current="page">SergeThomas</a></li>
                                <li><a href="https://blog.sergethomas.dev">Blog</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="level-right" style="margin-top: 8px">
                    <div class="level-item">
                        <a class="button" href="https://github.com/SergeThomas">
                            <span class="icon is-medium">
                                <i class="fab fa-lg fa-github"></i>
                            </span>
                            <span>GitHub</span>
                        </a>
                        &nbsp;
                        <a class="button" href="https://www.linkedin.com/in/serge-thomas/">
                            <span class="icon is-medium">
                                <i class="fab fa-lg fa-linkedin"></i>
                            </span>
                            <span>LinkedIn</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="dropdown-divider" style="margin-bottom: 16px"></div>
            <div class="content">
                <div class="has-text-centered">
                    <h2 class="title is-size-4">Hi there, I'm Serge Thomas</h2>
                    <!--And this site is about me, Serge Thomas-->
                </div>
                <p></p>
                <p>I'm a backend developer specializing in C# and Python, currently integrating Go into my workflow.
                    I work on various backend projects, focusing on scalable and efficient system design.
                </p>
                <p>If you're interested in contacting me, you can email me (<code class="has-text-dark">smughemuzi@gmail.com</code>)
                    or connect with me on <a href="https://www.linkedin.com/in/serge-thomas/">LinkedIn</a>.</p>
                <div class="has-text-centered"><a class="button" href="https://blog.sergethomas.dev">Visit my blog on backend development!</a></div>
            </div>
            <div class="dropdown-divider" style="margin-top: 16px"></div>
        </div>
    </section>
</body>
</html>
